MS.Auth/.serverless
MS.Delivery/.serverless
MS.Orders/.serverless

MS.Auth/node_modules
MS.Delivery/node_modules
MS.Orders/node_modules

MS.Auth/package-lock.json
MS.Delivery/package-lock.json
MS.Orders/package-lock.json